.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circle {
  width: 200px;
  height: 200px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);

  &::before {
    content: '';
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    z-index: 1;
    width: 150px;
    height: 150px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100px;
    background-color: #f0c419;
    border-radius: 2px;
    transform: rotate(var(--angle));
    transform-origin: center bottom;
    transition: transform 0.3s ease-in-out;
  }

  &-line {
    width: 35px;
    height: 4px;
    bottom: 14px;

    &-min {
      transform: rotate(135deg);
    }

    &-max {
      transform: rotate(-135deg);
    }
  }
}

.text {
  &-container {
    width: 200px;
    top: -35px;
  }

  &-min {
    left: 15px;
  }

  &-max {
    right: 15px;
  }
}
